<h1>New Button</h1>
<%= form_for :button, url: buttons_path do |f| %>
<% if @button.errors.any? %>
	<div id="errorExplanation">
		<h2><%= pluralize(@button.errors.count, "error") %> prohibited this button from being saved:</h2>
		<ul>
		<% @button.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>
<p>
  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :cmd %><br />
  <%= f.text_field :cmd %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>

<%= link_to "Back", buttons_path %>
