<p>
<strong>Owner:</strong>
<%= @command.owner %>
</p>

<p>
<strong>Status:</strong>
<%= @command.status %>
</p>

<p>
<strong>Button:</strong>
<%= @command.button.title %>
</p>

<p>
<strong>Image:</strong>
<%= @command.img_path %>
</p>

<p>
<strong>Audio:</strong>
<a href="/<%= @command.audio_path %>"><%= @command.audio_path %></a>
</p>

<%= link_to 'Edit', edit_command_path(@command) %> |
<%= link_to 'Back', commands_path %>
<%= if @command.status === 1 then
	button_to 'Do job', do_job_command_path(@command)
end %>